# Home Assistant Core (Minimal)
homeassistant
aiodns
aiohttp
aiohttp_cors
aiohttp-fast-zlib
aiohttp-asyncmdnsresolver
aiozoneinfo
annotatedyaml
astral
async-interrupt
attrs
atomicwrites-homeassistant
audioop-lts
awesomeversion
bcrypt
certifi
ciso8601
cronsim
fnv-hash-fast
hass-nabucasa
httpx
home-assistant-bluetooth
ifaddr
Jinja2
lru-dict
PyJWT
cryptography
Pillow
propcache
pyOpenSSL
orjson
packaging
psutil-home-assistant
python-slugify
PyYAML
requests
securetar
SQLAlchemy
standard-aifc
standard-telnetlib
typing-extensions
ulid-transform
urllib3
uv
voluptuous
voluptuous-serialize
voluptuous-openapi
yarl
webrtc-models
zeroconf

# Test Dependencies (Merged from requirements_test.txt)
codespell
ruff
yamllint
astroid
coverage
freezegun
go2rtc-client
librt
license-expression
mock-open
mypy-dev
pre-commit
pydantic
pylint
pylint-per-file-ignores
pipdeptree
pytest-asyncio
pytest-homeassistant-custom-component
pytest-aiohttp
pytest-cov
pytest-freezer
pytest-github-actions-annotate-failures
pytest-socket
pytest-sugar
pytest-timeout
pytest-unordered
pytest-picked
pytest-xdist
pytest
requests-mock
respx
syrupy
tqdm
types-aiofiles
types-atomicwrites
types-croniter
types-caldav
types-chardet
types-decorator
types-pexpect
types-protobuf
types-psutil
types-pyserial
types-python-dateutil
types-python-slugify
types-pytz
types-PyYAML
types-requests
types-xmltodict
