# Home Assistant Core (Minimal)
homeassistant==2026.1.3
aiosqlite
Pillow
python-dateutil
voluptuous

# Integration dependencies
fpdf2>=2.7.9
mashumaro>=3.10

# Test Dependencies
aiodhcpwatcher
pycares<5
ruff
coverage
pre-commit
pydantic
pylint
pipdeptree
pytest-asyncio
pytest-homeassistant-custom-component>=0.13.80
pytest-cov
pytest
yamllint
codespell
pytest-xdist
freezegun
requests-mock
hassil
home-assistant-intents
syrupy>=5.0.0